[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
torchcodec = "*"
soundfile = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
librosa = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.14"
