[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-hub = "*"
keras = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
librosa = "*"
soundfile = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
